.ten-day-forecast--container {
  margin-top: 8px;
  position: sticky;
  top: 200px;
  overflow: hidden;
}

.ten-day-forecast {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: rgba(255, 255, 255, 0.003);
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  padding: 18px;
  width: 335px;
}

.title {
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-size: 0.65em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  width: 100%;
}

.calendar-icon {
  width: 19px;
  height: 18px;
  margin-right: 5px;
}

hr {
  flex-grow: 1;
  width: 100%;
  opacity: 0.2;
  border-width: 0.2px;
  background-color: white;
  margin-top: 8px;
}

.forecast--wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.forecast {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1.1em;
}

.day {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid gray;
  height: 65px;
  width: 100%;
}

.label {
  width: 46px;
}

.day:last-child {
  border-bottom: 0;
}

.temp {
  font-size: 1.3em;
}

.empty-bar {
  border-radius: 44px;
  height: 4px;
  background: rgba(0, 0, 0, 0.3);
  width: 100px;
}

.icon-and-humidity {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #81cffa;
  min-width: 40px;
}

.icon-and-humidity img {
  height: 40px;
}

.temp-min {
  color: rgba(255, 255, 255, 0.3);
  min-width: 30px;
}

.temp-max {
  min-width: 30px;
}
