@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #011e33 0%, rgba(61, 53, 81, 0.8) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}