@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

.background {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* position: absolute; */
  /* top: 0px; */
  /* height: 1600px; */
  margin-top: 300px;
}

@media screen and (min-width: 500px) {
  .scroll {
    max-height: 70vh;
    flex-wrap: wrap;
    gap: 15px;
    width: 70vw;
    align-items: center;
  }
}

.wrapper {
  height: 130px;
  /* position: absolute;
  top: 0px; */
}

.button {
  position: fixed;
  width: 100px;
  height: 30px;
}

.loading {
  margin-top: 200px;
  font-size: 2em;
  width: 200px;
}
